
<div class="pure-g">
    <div class="pure-u-1-1">

    
        <% if @current_user.present? %>
        <div id="gameSelector" class="pure-g game-table">
  <% Game.all.each do |g| %>
  <div  class="pure-u-1 pure-u-md-1-4 gameDiv"><div id=<%=g.name.split(' ')[0]%> class="pure-u-1 gameSelect"> <h1 class="gameTitle"></h1></div><div class="instructions"><h5 class="tutorial"><%= g.highscore %></h5></div></div>
  <% end %>
</div>


<div id="gameBox"></div><div id="dropBox" style="display:none"></div>
<div id="prizeBox"></div>
        <% else %>

        <div id=""></div>

        <div class="login-page">

          <%= form_tag '/login', class: 'pure-form pure-form-stacked' do %>
            <fieldset>
            
              <div class="pure-">
              <% if flash[:notice].present? %>
              <h4 style='color:red'><%= flash[:notice]  %></h4>
              <% end %>

                <%= email_field_tag 'email', nil, placeholder: 'email', autofocus: 'true'%>
                
                <%= password_field_tag 'password', nil, placeholder: 'password'%>

                <%= submit_tag 'Login', class: 'pure-button pure-button-primary' %>

                <br>
                <%= link_to('Sign up', new_user_path, class: 'pure-button pure-button-primary') %>
                 
            <fieldset>

          <% end %>
        </div>


        <% end %>


    </div> <!-- PureCSS pure-u-1-1 -->
  </div> <!-- PureCSS pure-g -->










