<%= form_for(@user, :class => "pure-form pure-form-stacked") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email, :placeholder => "email", :class => "pure-input-rounded" %><br>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "password" %><br>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "password confirm" %><br>
  </div>  
  
    <%= f.submit "Log In", :class => "pure-button pure-button-primary" %>
  
<% end %>
