<div class="edit-user-profile">

<h3>Edit User Profile</h3>


<%= form_for @user, :html => { :class => 'pure-form pure-form-stacked'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="pure-">
    <div class="field">
      <%= f.text_field :email, :placeholder => "email", autofocus: 'true' %><br>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => "password" %><br>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => "password confirm" %><br>
    </div>  
    
      <%= f.submit "Save changes", :class => "button-login pure-button pure-button-primary" %>
    
</div>


<% end %>

<!-- <%= render 'form' %> -->

<!-- <%= link_to 'Show', @user %> | -->
<br> <%= link_to 'Back', root_path, id: 'editBack' %>
