<!DOCTYPE html>
<html>
<head>
  <title>ClawOfNoms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>


</head>
<body>


<div id="#clawTop" class="pure-menu pure-menu-horizontal">
  <a href="/" class="pure-menu-heading">Claw of Noms</a>
  <ul class="pure-menu-list">
    <%== smart_nav %>

  </ul>
</div>
<div id="theClaw"></div>

    <%= yield %>

<div class="gameController footer" >
    <% if @current_user.present? %>
    <div id="redeemDisplay" class="footerL"% >
    <h5> Admits <%= @current_user.vouchers.length %> 
    </h5>
    </div>
    <div id="coinDisplay" class="footerL">
    <h5><%= @current_user.coins %> coin(s)</h5>
    </div>
    <div id="addCoins" class="coinButton footerL"></div>
    <div id="lessCoins" class="coinButton footerL"></div>
    <div id="moveClawGrab" class="clawButtons footerL">0</div>
  
  <% end %>
</div>

</body>
<%if @current_user.present? %>
<script type='text/javascript'>
    var CoinCap = <%= @current_user.coins %>
  </script>
<% end %>

</html>

